<div class='well'>
    <h3>{{ticket.studentName}} asked:</h3>
    <hr>
    <p>{{ticket.issue}}</p>
    <p align='right'><i>{{format-date ticket.timeIssued}}</i></p>
    <p align='right'><i>{{get-duration ticket.timeIssued}}</i></p>
    <hr>
    <button {{action 'delete' ticket}} class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i> Close ticket</button>
</div>
